.dropdown {
    position: relative;
    display: inline-block;

    &:hover .dropdown__content {
        display: block;
    }

    &__content {
        text-align: center;
        display: none;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
}