.error {
    &__not-found {
        height:100vh;
        width: 100vw;
        position: absolute;
        top:0px;
        background-image: url("../../assets/images/404.jpeg");
        background-position: center;
        // background-size: 100%;
        z-index: 5;
    }

    &__header {
        padding: 30px;
        font-size: 500%;
        color: white;
    }
}

