@import "../../general";

.mobile-user-info {

    display: flex;
    align-items: center;

    &__img {
        width: 4vh;
        height: 4vh;
        border-radius: 50%;
    }

    &__name {
        margin-right: 10px;
        font-size: $main-font-size - 2px;
        color: lighten($dark-color, 20%);
    }
}