.mobile-nav {
    width: 100vw;
    display: none;

    &__logo {
        font-size: 24px;
        color: white;
        text-decoration: none;
    }
}

.mobile-nav-control-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



@media screen and (max-width: 900px) {
    .mobile-nav {
        display: block;
    }
}