$main-color: dodgerblue;
$main-font-size: 18px;

.about {
    display: flex;

    &__img-container{
        min-height: 93vh;
    }

    &__person-img {
        max-width: 50vw;
        height: 40vh;
        float: left;
        margin: 5vh 5vw 0vh 5vw;
    }

    &__info{
        padding: 35px;
    }

    &__header {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: $main-font-size + 6px;
        color: $main-color;
    }

    &__list {
        padding-left: 15px;
    }

    &__description {
        font-size: $main-font-size;
    }
}

@media screen and (max-width: 900px) {
    .about {
        flex-direction: column;
        align-items: center;

        &__img-container{
            background-color: transparent;
            min-height: 0px;
        }

        &__person-img {
            max-width: 90vw;
            height: auto;
            float: none;
            margin: 0px;
            margin-top: 3vh;
        }

        &__info{
            padding-top: 0px;
        }

        &__header {
            text-align: center;
        }
    }
}