@import "../general";

.calendar-page {
    display: flex;
    justify-content: flex-end;
    min-height: $min-page-size;
    margin-bottom: $margin-bottom;
    background-color: $page-background-color;
}

@media screen and (max-width: 800px) {
    .calendar-page {
        flex-direction: column-reverse;
    }
}