$border-color: black;

$month-background-color: #66b3ff;
$weekday-background-color: #99ccff;

$disabled-day-color: grey;
$selected-day-background-color: #66b3ff;
$selected-day-color: white;

$td-background-color: white;

$booked-hour-background-color: rgb(233, 96, 96);

$site-header-height: 6;
$calendar-head-height: 20;
$calendar-body-height: 80;
$column-width: 84;

$border-size: 1px;

.calendar{

    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    &__header {
        height: (round($calendar-head-height - $site-header-height)/2 - 2) * 1vh;
        border: $border-size solid $border-color;
        background: $month-background-color;
    }

    &__weekday{
        height: (round($calendar-head-height - $site-header-height)/2 - 2.5) * 1vh;
        background: $weekday-background-color;
        border: $border-size solid $border-color;
        overflow: hidden;
        white-space: normal;
    }

    &__day {
        width: $column-width / 7 * 1vh;
        height: $calendar-body-height / 5 * 1vh;
        text-align: center;
        border: $border-size solid $border-color;

        &:not(.calendar__disabled-day):hover {
            background-color: darken($td-background-color, 5%);
        }

        &.calendar__selected-day:hover {
            background-color: darken($selected-day-background-color, 5%);
        }
    }

    &__disabled-day {
        color: $disabled-day-color;
    }

    &__selected-day {
        background-color: $selected-day-background-color;
        color: $selected-day-color;
    }

    &__nav-arrow {
        cursor: pointer;
    }

}

@media screen and (max-width: 800px) {
    .calendar{
    
        &__day {
            width: 100 / 7 * 1vh;
            // height: $calendar-body-height / 5 * 1vh;
        }

        &__weekday{
            width: 20px;
            padding-right: 5px;
            padding-left: 5px;
        }
    
    }
}