$secondary-color: white;

.greet {
    display: flex;
    background-image: url("../../assets/images/home-greet-back.jpg");
    background-position: center;
    color: $secondary-color;
  
    &__content {
      text-align: center;
      margin: auto;
      margin-top: 10vh;
    }
  
    &__header {
      font-size: 48px;
    }
  
    &__description {
      font-size: 28px;
    }
  }