.auth-bar {
    padding-right: 5%;

    display: flex;
    align-items: center;;
}

.user-info {
    display: flex;
    align-items: center;

    &__name {
        color: white;
        font-size: 16px;
        margin-right: 10px;
    }

    &__img {
        width: 4vh;
        height: 4vh;
        border-radius: 50%;
        margin-right: 30px;
    }
}