$main-color: dodgerblue;
$border-color: black;

.header {
    min-height: 6vh;
    display: flex;
    align-items: center;
    background-color: $main-color;
    position: sticky;
    top: 0px;
    z-index: 3;

    &__link {
        text-decoration: none;
        color: $border-color;
    }
    
    &-btn {
        width: 40px;
        height: 20px;
        border: none;
        background-image: url("../../assets/images/additional-menu-btn.png");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;   
    }
}

