$main-color: dodgerblue;
$secondary-color: white;
$border-color: black;


.mobile-nav {

    display: none;

    &__logo {
        font-size: 24px;
        color: $secondary-color;
    }
}

.mobile-nav-control-bar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobile-nav-list {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin: 0px;
    padding: 0px;

    list-style-type: none;
    background-color: $secondary-color;

    &_hidden {
        display: none;
    }

    &__item {
        padding-top: 15px;
        padding-bottom: 15px;

        &_auth:first-child {
            border-top: 2px solid $border-color;
        }
    }
    
    &__link {
        text-decoration: none;
        color: $border-color;
    }
}

@media screen and (max-width: 900px) {
    .mobile-nav {
        display: block;
    }
}