@import "../general";

.works {
    min-height: $min-page-size;
    margin-bottom: $margin-bottom;
    background-color: $page-background-color;

    &__no-results {
        text-align: center;
        font-size: 60px;
    }
}