.works-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
    &__photo {
      max-width: 300px;
      max-height: 300px;
  
      &_fade {
        filter: blur(3px);
      }
    }
  
    &__name {
      width: 220px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
      position: absolute;
      display: none;
  
      &_show {
        display: inline;
      }
    }
}