$main-color: dodgerblue;
$main-font-size: 20px;

.contacts {
    padding: 3%;
    padding-top: 2vh;
    min-height: 93vh;
    display: flex;
    justify-content: space-around;

    &__text {
        font-size: $main-font-size;
    }

    &__social-networks-list {
        list-style-type: none;
        margin-bottom: 5vh;
    }

    &__link {
        text-decoration: none;
        color: $main-color;
    }
}

.location {

    &__map {
        width: 40vw;
        height: 60vh;
    }
}

@media screen and (max-width: 900px) {
    .contacts {
        flex-direction: column;
        // padding: 5%;
    }

    .location {

        &__map {
            width: 90vw;
            height: 50vh;
        }
    }
}