$main-indent: 2%;
$slider-size: 50;

.work{
    min-height: 93vh;
    padding: $main-indent;

    &__name {
        text-align: center;
        font-size: 36px;
        margin: 10px;
        padding: $main-indent;
    }

    &__description {
        padding: $main-indent;
        line-height: 200%;
        font-size: 20px;
    }

    &__slider {
        width: $slider-size * 1vw;
        height: $slider-size * 1vh;
        margin-right: $main-indent;
        float: left;
    }
}



@media screen and (max-width: 900px) {

    .work{
        display: grid;
        grid-template-rows: 4;
    
        &__name {
            grid-row: 1;
        }

        &__slider {
            width: $slider-size * 2 * 1vw;
            grid-row: 2;
            float: none;
        }
    
        &__description {
            grid-row: 4;
        }

    }

}