@import "../../general";

$img-size: 4vh;

.user-info {
    display: flex;
    align-items: center;

    &__name {
        margin-right: 10px;
        font-size: $main-font-size - 2px;
        color: $light-color;
    }

    &__img {
        width: $img-size;
        height: $img-size;
        margin-right: 30px;
        border-radius: 50%;
    }
}