$border-color: black;
$border-size: 2px;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .navbar {
        display: none;
    }
}