@import "../../general";

$vertical-padding: 25px;
$horizontal-padding: 5px;

.nav-list {
    display: flex;
    justify-content: space-around;
    padding-right: $vertical-padding - 5px;
    list-style-type: none;
  
    &__item {
        padding: $horizontal-padding $vertical-padding $horizontal-padding $vertical-padding;
        border-right: $border-size solid $dark-color;
    }
    
    &__item:last-child {
        border-right: none;
    }
    
}